.flip-card {
    box-sizing: border-box;
    width: 150px;
    height: 255px;
    background-color: transparent;
    perspective: 1000px;
    margin: 5px;
    cursor: pointer;
}

.matched-card {
    box-sizing: border-box;
    width: 150px;
    height: 255px;
    margin: 5px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    animation: 1s linear forwards isMatched;
    border: 2px solid greenyellow;
}

@keyframes isMatched {
    from {
        fill: greenyellow;
        transform: scale(1);
    }

    20% {
        transform: scale(1.2);
        fill: greenyellow;
        background-color: initial;
    }
    40% {
        transform: scale(1);
    }

    to {
        fill: gray;
    }
}

.flip-card-contents {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-contents {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    box-sizing: border-box;
    background-color: whitesmoke;
    border: 2px solid black;
}

.frontIcon {
    height: 100%;
    fill: red;
    width: 100%;
}

.flip-card-back {
    background-color: whitesmoke;
    transform: rotateY(180deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-sizing: border-box;
    cursor: default;
}

.typeIcon {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
}

.topType {
    top: 12px;
    left: 12px;
}

.bottomType {
    bottom: 12px;
    right: 12px;
}

.imageIcon {
    width: 120px;
    height: 120px;
}

.blueCard {
    fill: blue;
}

.redCard {
    fill: red;
}