.flip-card {
    box-sizing: border-box;
    width: 150px;
    height: 255px;
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-back, .flip-card-front {
    clip-path: polygon(
      0px calc(100% - 20px),
      4px calc(100% - 20px),
      4px calc(100% - 12px),
      8px calc(100% - 12px),
      8px calc(100% - 8px),
      12px calc(100% - 8px),
      12px calc(100% - 4px),
      20px calc(100% - 4px),
      20px 100%,
      calc(100% - 20px) 100%,
      calc(100% - 20px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 8px),
      calc(100% - 8px) calc(100% - 8px),
      calc(100% - 8px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 20px),
      100% calc(100% - 20px),
      100% 20px,
      calc(100% - 4px) 20px,
      calc(100% - 4px) 12px,
      calc(100% - 8px) 12px,
      calc(100% - 8px) 8px,
      calc(100% - 12px) 8px,
      calc(100% - 12px) 4px,
      calc(100% - 20px) 4px,
      calc(100% - 20px) 0px,
      20px 0px,
      20px 4px,
      12px 4px,
      12px 8px,
      8px 8px,
      8px 12px,
      4px 12px,
      4px 20px,
      0px 20px
    );
}


.flip-card-contents {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-contents {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: hotpink;
}

.flip-card-back {
    background-color: whitesmoke;
    transform: rotateY(180deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeIcon {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
}

.topType {
    top: 12px;
    left: 12px;
}

.bottomType {
    bottom: 12px;
    right: 12px;
}

.imageIcon {
    width: 120px;
    height: 120px;
}

.blueCard {
    fill: blue;
}

.redCard {
    fill: red;
}