.gameContainer {
    background-color: #F5ECE0;
    height: 100vh;
}

.timerBar {
    width: 100%;
    height: 20px;
    background-color: orange;
}

.animatedTimer {
    animation: timer linear forwards;
}

@keyframes timer {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.scoreCounter {
    font-size: 2rem;
    margin: 0;
}

.score {
    font-size: 3rem;
    position: relative;
}

.increaseScore {
    color: greenyellow;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    animation: scoreChange 0.5s ease-in;
}

.decreaseScore {
    color: red;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    animation: scoreChange 0.5s ease-in;
}

@keyframes scoreChange {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.lifeContainer {
    display: block;
    text-align: right;
}

.lifeIcon {
    width: 40px;
    height: 40px;
}

.exitIcon {
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.cardsContainer {
    display: flex;
    justify-content: center;
}

.flipCardGrid {
    margin: 0 auto;
    display: inline-grid;
    grid-template: 1fr 1fr 1fr / repeat(8, 1fr);
}